html {
  font-family: "Montserrat", sans-serif;
}
main,header{
  max-width: 55rem;
  margin: auto;
}
nav {
  display: flex;
  width: 100%;
  justify-content: center;
}
ul {
  list-style: none;
}
nav ul {
  display: flex;
  gap: 1rem;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
#hero img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
#hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
#hero h1 {
  font-size: 2rem;
  margin: 10px 0;
}
#hero p {
  font-size: 1rem;
  color: #555;
}
.about-me h2{
  margin: start;
  text-align: left;
}
.about-me {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: justify;

}
.about-me p {
  line-height: 1.5rem;
}
a{
  color: white;
  text-decoration: none;
}
.social-media{
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.btn-link:hover {
  outline: 2px solid #23282B; /* Borde negro separado */
  outline-offset: 3px;
}
.btn-link {
  background-color: black;
  display: inline-flex;
  color: white;
  gap:0.5rem;
  align-items: center;
  border: none;
  border-radius: 0.25rem;
  padding: 10px 10px;
  transition: outline-offset 0.3s ease, outline-color 0.3s ease;
}
.social-media img{
  width: 20px;  
}
.btn-github {
  background-color:#cdcdcd;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
  border-radius: 0.25rem;
  padding: 10px 10px;
  border: none;
  transition: outline-offset 0.3s ease, outline-color 0.3s ease;
}
.btn-github:hover {
  outline: 2px solid #cdcdcd; /* Borde negro separado */
  outline-offset: 3px;
}
.work,.education-item{
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 40px;
  border: #23282B solid 0.025rem;
}
.work{
  padding: 1rem;
  border-radius: 40px;
  
}
.work-experience-item{
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}
.work-experience-list ul{
  list-style-type: disc;
}
.work-experience-list li{
  margin-bottom: 1rem;
  line-height: 1.25rem;
}
.work-experience img{
  width: 5rem;
}
.education-item{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 1rem;
}
.work:hover{
  box-shadow: #23282B 0px 0px 10px;
  transform: scale(1.05);
}
.education-item:hover{
  box-shadow: #23282B 0px 0px 10px;
  transform: scale(1.05);
}
.education-icon img{
  width: 5rem;
}
footer {
   /* Color de fondo del footer */
  color: black;
  margin-top: 2rem;
  text-align: center;
  padding: 0.25rem;
  position: relative;
}